*{
    text-align: left;
}

.contentArea{
    max-width: 340px;
    margin:  auto;
    padding: 100px 0 150px;
    /* text-align: center; */
    /* background-color: blue; */
    
}

.logo{
    margin: 0 auto 50px;
    cursor: pointer;
}
footer{
    padding:20px 150px;
    background-color: red;
}
.btn{
    padding-top:10px;
    padding-bottom:10px;
}
.btn{
    
}
.gap_line{
    font-size: 10px !important;
    
}


/*로그인 input*/
.user-login{
    margin-bottom: 20px;
}
.user-login input[type="text"]{
    border-radius: 6px 6px 0 0;
}
.user-login input[type="password"]{
    border-radius:0 0 6px 6px;
}
.user-login input{
    border-color: #ccc;
    border-collapse: collapse;
}

/*로그인 버튼*/
.login-btn{
    margin-bottom: 20px;
}
.login-btn button{
    background-color: #aaa;
    color:#fff;
}
/*save_id_chk_box*/
.save_id_chk_box{
    line-height: 24px;
}
/*search box*/
.search span{
    color:#777;
    font-size: 14px;
}

/*sns버튼*/
.sns_login {
    margin-top: 50px;
}
.sns_login ul{
    width: fit-content;
    margin: 0 auto 20px;
}
.sns_login img{
    width: 50px;
}
.sns_login  p{
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -1px;
    color:#777;
}

/*etc button*/
.etc_buttons button{
    border: 1px solid #ccc;
    margin-top: 20px;
}