.prod_detail_head_top *{
    text-align: center;
}
.prod_detail_head_bottom>*{
    width: calc(100%/3);
}
.prod_detail_head_bottom .img-box{
    width: 380px;
}



.prod_detail_info>*{
    margin-bottom: 30px;
    font-size: 14px;
}
.prod_price *:not(.regular_price){
    font-size: 25px;
}


.delivery_info p{
    text-align: right;
    margin-bottom: 10px;
}

.prod_detail_info_wrap{
    width: calc(100% - 300px);
}
.prod_detail_recommend{
    width: 300px;
    padding-left: 50px;
    background-color: rebeccapurple;
}